* {
    font-family: "Roboto", sans-serif;
}

.hero-img {
    background-color: gray;
    height: 300px;
    width: 500px;
}

.fish-img {
    height: 150px;
    width: 200px;
}

.page {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero,
.footer {
    background-color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}